<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProyectoAJAX</display-name>
  <welcome-file-list>
    <welcome-file>/pruebaAJAX/inicio.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    	<servlet-name>CargarMenu</servlet-name>
    	<servlet-class>pruebaAJAX.CargarMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>CargarMenu</servlet-name>
    	<url-pattern>/pruebaAJAX/CargarMenu</url-pattern>
  </servlet-mapping>  
  
   <servlet>
    	<servlet-name>CargaJSON</servlet-name>
    	<servlet-class>pruebaAJAX.CargaJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>CargaJSON</servlet-name>
    	<url-pattern>/pruebaAJAX/CargaJSON</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    	<servlet-name>CargaMenuSelect</servlet-name>
    	<servlet-class>pruebaAJAX.CargaMenuSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>CargaMenuSelect</servlet-name>
    	<url-pattern>/pruebaAJAX/CargaMenuSelect</url-pattern>
  </servlet-mapping>  
    
  <servlet>
    	<servlet-name>CargarTrabajadores</servlet-name>
    	<servlet-class>pruebaAJAX.CargarTrabajadores</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>CargarTrabajadores</servlet-name>
    	<url-pattern>/pruebaAJAX/CargarTrabajadores</url-pattern>
  </servlet-mapping>
  
    <servlet>
    	<servlet-name>CargarDepEmp</servlet-name>
    	<servlet-class>pruebaAJAX.CargarDepEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>CargarDepEmp</servlet-name>
    	<url-pattern>/pruebaAJAX/CargarDepEmp</url-pattern>
  </servlet-mapping>
  
      <servlet>
    	<servlet-name>CargarTrabajadoresDep</servlet-name>
    	<servlet-class>pruebaAJAX.CargarTrabajadoresDep</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>CargarTrabajadoresDep</servlet-name>
    	<url-pattern>/pruebaAJAX/CargarTrabajadoresDep</url-pattern>
  </servlet-mapping>
  
        <servlet>
    	<servlet-name>CargarDetalleEmpleado</servlet-name>
    	<servlet-class>pruebaAJAX.CargarDetalleEmpleado</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>CargarDetalleEmpleado</servlet-name>
    	<url-pattern>/pruebaAJAX/CargarDetalleEmpleado</url-pattern>
  </servlet-mapping>
  
  
</web-app>